<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <% if current_user %>
        <%= render 'tasks/form', task: @task %>
      <% else %>
        <h2><%= link_to "Sign up", new_user_registration_path %> to create tasks.</h2>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div id="tasks_list" class="col-md-6 offset-md-3">
      <% @tasks.each do |task| %>
        <% if current_user %>
          <%= render 'tasks/task', task: task %>
        <% else %>
          <% unless task.private == true %>
            <%= render 'tasks/task', task: task %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
