<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= task.todo %></h4>
    <div id="subtasks_list_<%= task.id %>">
      <% if task.subtasks.count > 0 %>
        <% task.subtasks.each do |subtask| %>
          <%= render 'subtasks/subtask', subtask: subtask %>
        <% end %>
      <% end %>
    </div>
    <% if current_user && task.user_id == current_user.id %>
      <%= render 'subtasks/form', task: task %>
    <% end %>
  </div>
</div>
