<%= simple_form_for [task, @subtask] , html: { id: task.id }, remote: true do |f| %>
  <%= f.input :todo, class: "input-lg", required: true %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
