<% if @subtask.todo.present? %>
  $("#subtasks_list_<%= @task.id %>").append('<%= j render(@subtask) %>');
  $("#<%= @task.id %>")[0].reset();
<% else %>
  $(".alert").show(300).fadeOut(1000);
<% end %>
