// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #eee;
}
.card {
  margin-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

#new_task {
  margin-bottom: 20px;
}

.alert {
  display: none;
}
