<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container col-md-6 offset-md-3">
    <a class="navbar-brand" href="/">Task List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <% if current_user %>
          <li class="nav-item active">
            <%= link_to "Logout", destroy_user_session_path, method: 'delete', class: "btn btn-default" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-default" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
