<!DOCTYPE html>
<html>
  <head>
    <title>Avenue Code - Tasks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
